* {
    margin : 0;
    padding :0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
}
body {
    background-color: #f8f8f8;

}

.back {
    border: 1.5px solid #000;
    border-radius: 15px;
    height:5vh;
    width:15vh;
    place-content: center;
    background-color: #5441411e;
    margin-top: 10px;
    padding: 5px;
    padding-bottom: 5vh;
    margin-left: 20px;

}
.back a {
    text-decoration: none;
    color: #000;
    font-size: 2.5vh;
    font-weight: 600;
    text-transform: uppercase;
    font-family: monument;


}
#backarrow {
    height: 10px;
    width: 5px;
    position:absolute;
    top: 20px;
    left: 35px
}
#backbtn {
    position: absolute;
    top: 5px;
    left: 17px;
    font-size: 2.5vh;
    font-family: monument;
    letter-spacing: 0.5px;
}
#upperline {
    height: 0.5px;
    width:100%;
    position: relative;
    border: 1.5px solid #000;
    bottom: 10vh;
    margin-top: 13vh;
    
}
#page4 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
#blog {
    height: 100%;
    width: 15%;
    text-transform: uppercase;
    padding-left: 3vh;
    font-size: 3.5vh;
    margin-left: 3.5vh;
}
#blog h1 {
    font-family: monument;
    font-weight: 900;
    letter-spacing: 0.7px;
}
#first {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    position: relative;
}
#one , #three {
    padding-top: 20vh;
    height: 40vh;
    width: 70%;
    font-size: 2.5vh;
    font-family:'Courier New', Courier, monospace;
   
   
}
#two ,#four {
    
    height: 40vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-top: 3vh;
}
#one p {
    font-family: monument;
}
#three p {
    font-family: monument;
}
#second {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    position: relative;
}
#bottomline {
    height: 0.5px;
    width:100%;
    position: relative;
    border: 1.5px solid #000;
    bottom: 10vh;
    margin-top: 7vh;
    
}
#page4part2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-self: flex-end;
}
#partOne {
    height: 70vh;
    width: 30%;
}
#partOne img {
    height: 75vh;
    width: 80vh;
    object-fit: cover;
    padding-left: 42vh;
}
#partTwo  {
    height: 70vh;
    width: 90vh;
    padding-left: 30vh;
}
#partTwo h1 {
    font-family: monument;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-size: 3.5vh;
    padding-top: 2vh;

}
#partTwo h3 {
    width: 90%;
}
#partTwo h5 {
    width: 100%;
    font-weight: lighter;
}
#imgOne {
    height: 30vh;
    width: 60vh;
    display: flex;
    justify-content: space-between;
    padding-top: 5vh;
}
#imgOne img {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}
#imgOne img:hover {
    cursor: pointer;
    height: 42.5vh;
    width: 120%;
    transition: linear 0.2s;
}
.images1 {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border: 1.5px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 3vh;
}
.images2 {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border: 1.5px solid #000;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
#partThree {
   
    height: 90vh;
    width: 100%;
   
}
#partThree img {
    position: relative;
    height: 80%;
    width: 87%;
    margin-left: 6.5%;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    bottom: 15%;
    border: 4px solid #342f2f;
   
   
}
#partFour {
    height: 100vh;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    
}
#model1 {
    height: 40%;
    width: 40%;
    object-fit: cover;
   
    display: flex;
    justify-content: space-between;
    margin-left: 5vh;
    
}
#model1 img {
    position: relative;
    height: 90vh;
    width: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    margin-left: 17vh;
    bottom: 19vh;
    

}
#model2 {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#modelimg {
   
    height: 100%;
    width: 100%;
    margin-bottom: 10vh;
    
}
#modelimg img {
    position: relative;
    height: 60vh;
    width: 97vh;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
    margin-left: 17vh;
    bottom: 19vh;
    margin-bottom: 10vh;
    
}
#modeltxt {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 17vh;
    bottom: 34vh;
   
}
#text1{
    
    width: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 4vh;
    padding-top: 2vh;
}
#text2{
   
    padding-right: 5vh;
    width: 50%;
    font-size: 2.5vh;
    padding-top: 2vh;
}
#footer {
    height: 16vh;
    width: 100%;
    position: relative;
    margin-top: 15%;
    display: flex;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    
}
#logo h1::after {
    content: "©️";
    font-family: gilroy;
    font-weight: 300;
    font-size: 18px;
    position: absolute;
    top: 5%;
    left: 14%;
}
#logo h1::before {
    content: "model management";
    font-family: gilroy;
    font-weight: lighter;
    font-size: 12.5px;
    position: absolute;
    color: #666;
    top: 37%;
    left: 8%;
    letter-spacing: 0.5px;
}
#footer #logo h1 {
    
    height: 100%;
    width: 20%;
    font-family: Protest Revolution;
    font-size: 45px;
    letter-spacing: -1px;
}
#logo {
    height: 100%;
    width: 20%;
    padding-left: 25px;
}
#footOne {
    height: 100%;
    width: 17%;
    padding-left: 15vh;
    padding-top: 2vh;
    border-right: 3px solid #000;
}
#footTwo{
    height: 100%;
    width: 20%;
    padding-left: 12vh;
    padding-top: 2vh;
    border-right: 3px solid #000;
}
#footThree {
    height: 100%;
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#part1 {
    position: relative;
    padding-left: 15vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: 3px solid #000;;
}
#part2 {
    position: relative;
    padding-left: 15vh;
    margin-top: 2vh;

}
#links {
    height: 20%;
    width: 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 7px;

}
#links i {
    transform: scale(0.8);
}
#links i:hover::before {
    filter: blur(0.5px);
    transform: scale(1.7);
    box-shadow: 1px 2px 12px #685d5d85;
}
#links i:hover {
    cursor: pointer;
    transition: linear 2s ease;
    
    border-radius: 10px;
    color: rgb(25, 101, 142);
    height: 2%;
   
    transition: 0.5s;
  
}
#lastpara {
    padding-bottom: 15px;
}
#lastpara p {
    line-height: 13px;
    font-size: 2vh;
    font-weight: 600;
}
